.App {
  text-align: center;
}

.App-logo {
  height: 70px;
}

.App-header {
  background-color: #800000;
  height: 3%;
  padding: 10px;
  color: #ffd700;
}

.App-title {
  font-size: 1.1em;
}

.App-intro {
  font-size: large;
}

#new-platenumber {
	margin: 0.5em;
  width: 30%;
}

#vehicle-type {
	margin: 0.5em;
}
